# 함수
- 파라미터 : 함수를 선언할 때 호출하는 부분에서 보내주는 데이터를 받는 변수
- 아규먼트 : 함수를 호출 할 때 함수에 보내주는 데이터

### *args : *arguments의 줄임말

In [1]:
def plus_infinite(*args):
  print(type(args), args)
  return sum(args)

plus_infinite(1, 2, 3, 4, 5)

<class 'tuple'> (1, 2, 3, 4, 5)

15

### **kwargs : keyword argument의 줄임말
- (키워드 = 특정 값) 형태로 함수를 호출, 딕셔너리 형태로 함수 내부로 전달이 됨

In [2]:
def plus_infinite(*args, **kwargs):
  print(type(args), type(kwargs))
  return sum(args) + sum(kwargs.values())

plus_infinite(1, 2, 3, 4, num1 = 100, num2 = 3000, num3 = 20, num4 = 7)

<class 'tuple'> <class 'dict'>

3137

### 함수 list & dict 넣기

In [3]:
list_numbers = [1,2,3,4,5,6,7,8,9,10]
plus_infinite(*list_numbers)

<class 'tuple'> <class 'dict'>

55

In [4]:
dict_height = {'rohoon_height':178, 'yongdam_height':180, 'sungwonng_height' : 175, 'youngmin_height' : 176,'Gwangsoo_hegight':100}
plus_infinite(**dict_height)

<class 'tuple'> <class 'dict'>

809

### 문제

In [6]:
# pythagoras() 함수는 2개의 숫자 아규먼트를 받고 각각 더한 값의 제곱근값을 return 합니다.
def pythagoras(num1, num2):
  return (num1**2 + num2**2) ** 0.5

pythagoras_lambda = lambda num1, num2 : (num1**2 + num2**2) ** 0.5

print(pythagoras(3, 4))
print(pythagoras_lambda(3, 4))

5.0
5.0

In [8]:
# return로 간단한 함수를 코드 한줄로 구현
def height_high(height):
  return '키가 정말 크군요' if height >= 180 else '계속 클 것 입니다. :)'

In [11]:
print('170',height_high(170))
print('190',height_high(190))

170 계속 클 것 입니다. :)
190 키가 정말 크군요

### map

In [12]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
	a[i] = int(a[i])
a

[1, 2, 3, 4]

In [13]:
a = list(map(int, a))
a

[1, 2, 3, 4]

In [14]:
dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}
list(map(height_high, dict_heights.values()))

['계속 클 것 입니다. :)',
 '키가 정말 크군요',
 '계속 클 것 입니다. :)',
 '계속 클 것 입니다. :)',
 '키가 정말 크군요']

### filter

In [15]:
users = [{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'gender': 'M'},
{'mail': 'hintoncynthia@hotmail.com', 'name': 'Madison Martinez', 'gender': 'F'},
{'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'gender': 'M'},
{'mail': 'daniel79@gmail.com', 'name': 'Karen Rodriguez', 'gender': 'F'},
{'mail': 'ujackson@gmail.com', 'name': 'Amber Rhodes', 'gender': 'F'}]

def is_man(user):
	return user['gender'] == 'M'

for man in filter(is_man, users):
	print(man)

{'mail': 'gregorythomas@gmail.com', 'name': 'Brett Holland', 'gender': 'M'}
{'mail': 'wwagner@gmail.com', 'name': 'Michael Jenkins', 'gender': 'M'}

In [18]:
dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}
list(filter(lambda x : True if dict_heights[x] >= 180 else False, dict_heights))

['yongdam_height', 'Gwangsoo_height']

### for, while(구구단)

In [19]:
# for
for i in range(2, 10):
	for j in range(1, 10):
		print('{}x{}={}'.format(i,j, i*j), end = '\t')
	print()

2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36	6x7=42	6x8=48	6x9=54
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49	7x8=56	7x9=63
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64	8x9=72
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81

In [20]:
# while
i = 1
while i < 9:
	j = 1
	i += 1
	while j < 10:
		print('{}x{}={}'.format(i, j, i*j), end = '\t')
		j += 1
	print()

2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36	6x7=42	6x8=48	6x9=54
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49	7x8=56	7x9=63
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64	8x9=72
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81

### iter(), next()

In [22]:
# iter()
it = iter(range(3))
print(next(it))
print(next(it))
print(next(it))

0
1
2

### 선언된 변수 확인

In [23]:
# RAM에 load 된 변수들을 조회
%who

a	 dict_height	 dict_heights	 height_high	 i	 is_man	 it	 j	 list_numbers
man	 plus_infinite	 plus_ver2	 pythagoras	 pythagoras_lambda	 users

In [24]:
# RAM에 load 된 변수들을 상세 조회
%whos

Variable            Type              Data/Info
-----------------------------------------------
a                   list              n=4
dict_height         dict              n=5
dict_heights        dict              n=5
height_high         function          <function height_high at 0x7d389125d6c0>
i                   int               9
is_man              function          <function is_man at 0x7d389125c940>
it                  range_iterator    <range_iterator object at 0x7d389128d5c0>
j                   int               10
list_numbers        list              n=10
man                 dict              n=3
plus_infinite       function          <function plus_infinite at 0x7d38911fda20>
plus_ver2           function          <function plus_ver2 at 0x7d38911fd120>
pythagoras          function          <function pythagoras at 0x7d38911ffe20>
pythagoras_lambda   function          <function <lambda> at 0x7d38911fcaf0>
users               list              n=5

In [25]:
# RAM에 load 된 변수들을 초기화
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y