### ì„¤ì •

In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# ì •ì œ ë°ì´í„°
DATA_DIR_CLEAN = r'C:\Users\WD\Desktop\DW_Project\00_cleand_data'

# env íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
load_dotenv()

# í™˜ê²½ì„¤ì •
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_NAME")

# í´ë” ë‚´ CSV íŒŒì¼ ë¡œë“œ
clean_csv_files = [f for f in os.listdir(DATA_DIR_CLEAN) if f.endswith('.csv')]
dataframes = {
    os.path.splitext(f)[0]: pd.read_csv(os.path.join(DATA_DIR_CLEAN, f))
    for f in clean_csv_files
}

# # dataframe
# customers = dataframes['customers']
# geolocation = dataframes['geolocation']
# orders = dataframes['orders']
# order_items = dataframes['order_items']
# order_payments = dataframes['order_payments']
# order_reviews = dataframes['order_reviews']
# products = dataframes['products']
# product_category_name_translation = dataframes['product_category_name_translation']
# sellers = dataframes['sellers']

### CREATE TABLE

```sql
CREATE TABLE product_category_name_translation (
    product_category_name VARCHAR(255) PRIMARY KEY,
    product_category_name_english VARCHAR(255)
);

CREATE TABLE geolocation (
    geolocation_zip_code_prefix VARCHAR(255) NOT NULL,
    geolocation_lat DECIMAL(12, 8) NOT NULL,
    geolocation_lng DECIMAL(12, 8) NOT NULL,
    geolocation_city VARCHAR(255) NOT NULL,
    geolocation_state VARCHAR(255) NOT NULL
);

CREATE TABLE sellers (
    seller_id VARCHAR(255) PRIMARY KEY,
    seller_zip_code_prefix VARCHAR(255),
    seller_city VARCHAR(255),
    seller_state VARCHAR(255)
);

CREATE TABLE customers (
    customer_id VARCHAR(255) PRIMARY KEY,
    customer_unique_id VARCHAR(255) NOT NULL,
    customer_zip_code_prefix VARCHAR(255),
    customer_city VARCHAR(255),
    customer_state VARCHAR(255)
);

CREATE TABLE products (
    product_id VARCHAR(255) PRIMARY KEY,
    product_category_name VARCHAR(255),
    product_name_length FLOAT,
    product_description_length FLOAT,
    product_photos_qty FLOAT,
    product_weight_g FLOAT,
    product_length_cm FLOAT,
    product_height_cm FLOAT,
    product_width_cm FLOAT,
    FOREIGN KEY (product_category_name) REFERENCES product_category_name_translation (product_category_name)
);

CREATE TABLE orders (
    order_id VARCHAR(255) PRIMARY KEY,
    customer_id VARCHAR(255) NOT NULL,
    order_status VARCHAR(255),
    order_purchase_timestamp TIMESTAMP,
    order_approved_at TIMESTAMP,
    order_delivered_carrier_date TIMESTAMP,
    order_delivered_customer_date TIMESTAMP,
    order_estimated_delivery_date TIMESTAMP,
    FOREIGN KEY (customer_id) REFERENCES customers (customer_id)
);

CREATE TABLE order_items (
    order_id VARCHAR(255) NOT NULL,
    order_item_id INTEGER NOT NULL,
    product_id VARCHAR(255) NOT NULL,
    seller_id VARCHAR(255) NOT NULL,
    shipping_limit_date TIMESTAMP,
    price FLOAT,
    freight_value FLOAT,
    PRIMARY KEY (order_id, order_item_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id),
    FOREIGN KEY (seller_id) REFERENCES sellers (seller_id)
);

CREATE TABLE order_payments (
    order_id VARCHAR(255) NOT NULL,
    payment_sequential INTEGER NOT NULL,
    payment_type VARCHAR(255),
    payment_installments INTEGER,
    payment_value FLOAT,
    PRIMARY KEY (order_id, payment_sequential),
    FOREIGN KEY (order_id) REFERENCES orders (order_id)
);

CREATE TABLE order_reviews (
    review_id VARCHAR(255) PRIMARY KEY,
    order_id VARCHAR(255) NOT NULL,
    review_score INTEGER,
    review_comment_title VARCHAR(255),
    review_comment_message VARCHAR(255),
    review_creation_date TIMESTAMP,
    review_answer_timestamp TIMESTAMP,
    FOREIGN KEY (order_id) REFERENCES orders (order_id)
);
```

### ë°ì´í„° ì ì¬

In [2]:
# 1. í…Œì´ë¸” NaN ê°’ ì²˜ë¦¬

for f in clean_csv_files:
    name = os.path.splitext(f)[0]
    path = os.path.join(DATA_DIR_CLEAN, f)
    
    print(f"Loading and processing {name} from {path}...")
    df = pd.read_csv(path)

    # ëª¨ë“  NaN ê°’ì„ Pythonì˜ Noneìœ¼ë¡œ ë³€í™˜í•˜ëŠ” í•µì‹¬ ë¡œì§
    # np.nan (float NaN) ì²˜ë¦¬
    df = df.replace({np.nan: None})
    
    # ì¶”ê°€ì ìœ¼ë¡œ, ë‚ ì§œ/ì‹œê°„ ì»¬ëŸ¼ì˜ NaT (Not a Time)ë„ Noneìœ¼ë¡œ ë³€í™˜
    for col in df.columns:
        if pd.api.types.is_datetime64_any_dtype(df[col]):
            df[col] = df[col].replace({pd.NaT: None})
        # ê°„í˜¹ ë¬¸ìì—´ 'nan'ì´ ë°ì´í„°ë¡œ ë“¤ì–´ìˆëŠ” ê²½ìš°ë„ ì²˜ë¦¬ (Pandas read_csvê°€ ê°„í˜¹ ë¬¸ìì—´ë¡œ ì½ì„ ë•Œ)
        elif pd.api.types.is_object_dtype(df[col]):
            # 'nan' ë¬¸ìì—´ê³¼ ë¹ˆ ë¬¸ìì—´ì„ Noneìœ¼ë¡œ ì²˜ë¦¬
            df[col] = df[col].replace({'nan': None, '': None, 'None': None}) # 'None' ë¬¸ìì—´ë„ í¬í•¨
            
    dataframes[name] = df
    print(f"{name} loaded and NaN processed. Shape: {df.shape}")
    print("")

Loading and processing customers from C:\Users\WD\Desktop\DW_Project\00_cleand_data\customers.csv...
customers loaded and NaN processed. Shape: (99441, 5)

Loading and processing geolocation from C:\Users\WD\Desktop\DW_Project\00_cleand_data\geolocation.csv...
geolocation loaded and NaN processed. Shape: (19901, 5)

Loading and processing orders from C:\Users\WD\Desktop\DW_Project\00_cleand_data\orders.csv...
orders loaded and NaN processed. Shape: (99438, 8)

Loading and processing order_items from C:\Users\WD\Desktop\DW_Project\00_cleand_data\order_items.csv...
order_items loaded and NaN processed. Shape: (112650, 7)

Loading and processing order_payments from C:\Users\WD\Desktop\DW_Project\00_cleand_data\order_payments.csv...
order_payments loaded and NaN processed. Shape: (103883, 5)

Loading and processing order_reviews from C:\Users\WD\Desktop\DW_Project\00_cleand_data\order_reviews.csv...
order_reviews loaded and NaN processed. Shape: (98407, 7)

Loading and processing products from C:\Users\WD\Desktop\DW_Project\00_cleand_data\products.csv...
products loaded and NaN processed. Shape: (32951, 9)

Loading and processing product_category_name_translation from C:\Users\WD\Desktop\DW_Project\00_cleand_data\product_category_name_translation.csv...
product_category_name_translation loaded and NaN processed. Shape: (72, 2)

Loading and processing sellers from C:\Users\WD\Desktop\DW_Project\00_cleand_data\sellers.csv...
sellers loaded and NaN processed. Shape: (3095, 4)

In [3]:
# 1. ì™¸ë˜í‚¤ ìˆœì„œì— ë”°ë¥¸ ì ì¬ ìš°ì„ ìˆœìœ„ ì •ì˜
load_order = [
    'geolocation',
    'product_category_name_translation',
    'customers',
    'sellers',
    'products',
    'orders',
    'order_items',
    'order_reviews',
    'order_payments'
]


# 2. MySQL ì—°ê²°
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
    charset='utf8mb4',
    collation='utf8mb4_general_ci'
)
cursor = conn.cursor()

try:
    print("MySQL ì ì¬ë¥¼ ì‹œì‘í•©ë‹ˆë‹¤.")

    # 3. ìˆœì„œëŒ€ë¡œ í…Œì´ë¸”ì„ ì ì¬
    for name in load_order:
        df = dataframes.get(name)
        if df is None:
            print(f"âš ï¸ í…Œì´ë¸” '{name}'ì˜ DataFrameì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ê±´ë„ˆëœë‹ˆë‹¤.")
            continue

        print(f"\n--- í…Œì´ë¸”: {name} ì ì¬ ì¤‘ ---")

        # ì»¬ëŸ¼ êµ¬ì„± ë° SQL ìƒì„±
        columns = df.columns.tolist()
        placeholders = ", ".join(["%s"] * len(columns))
        columns_string = ", ".join(columns)

        sql_template = f"""
        INSERT INTO {name} (
            {columns_string}
        ) VALUES ({placeholders})
        """
        print(f"ìƒì„±ëœ SQL í…œí”Œë¦¿:\n{sql_template}")
        print(f"SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: {len(columns)}")
        print(f"SQL í…œí”Œë¦¿ ì»¬ëŸ¼: {columns}")

        # í–‰ ë‹¨ìœ„ ì‚½ì…
        for idx, row_series in df.iterrows():
            row_data_tuple = tuple(row_series.values)

            if len(row_data_tuple) != len(columns):
                print(f"!!! ê²½ê³ : í…Œì´ë¸” '{name}'ì˜ ë°ì´í„° ë¶ˆì¼ì¹˜ !!!")
                print(f"  ì˜ˆìƒ ì»¬ëŸ¼ ê°œìˆ˜: {len(columns)}")
                print(f"  ì‹¤ì œ ë°ì´í„° ê°’ ê°œìˆ˜: {len(row_data_tuple)}")
                print(f"  ì»¬ëŸ¼: {columns}")
                print(f"  ë°ì´í„°: {row_data_tuple}")
                continue

            try:
                cursor.execute(sql_template, row_data_tuple)
            except mysql.connector.Error as insert_err:
                print(f"!!! ì‚½ì… ì˜¤ë¥˜ ë°œìƒ (í…Œì´ë¸”: {name}, í–‰ ì¸ë±ìŠ¤: {idx}) !!!")
                print(f"  ì˜¤ë¥˜: {insert_err}")
                print(f"  ì‚½ì… ì‹œë„ SQL: {sql_template}")
                print(f"  ì‚½ì… ì‹œë„ ë°ì´í„°: {row_data_tuple}")
                conn.rollback()
                break

        conn.commit()
        print(f"í…Œì´ë¸” '{name}' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.")

except mysql.connector.Error as err:
    print(f"\nì „ì²´ ì ì¬ ê³¼ì • ì¤‘ ì˜¤ë¥˜: {err}")
    if conn.is_connected():
        conn.rollback()
        print("íŠ¸ëœì­ì…˜ ë¡¤ë°±ë¨.")

finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL ì—°ê²°ì´ ë‹«í˜”ìŠµë‹ˆë‹¤.")

MySQL ì ì¬ë¥¼ ì‹œì‘í•©ë‹ˆë‹¤.

--- í…Œì´ë¸”: geolocation ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO geolocation (
            geolocation_state, geolocation_city, geolocation_zip_code_prefix, geolocation_lat, geolocation_lng
        ) VALUES (%s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 5
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['geolocation_state', 'geolocation_city', 'geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng']
í…Œì´ë¸” 'geolocation' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: product_category_name_translation ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO product_category_name_translation (
            product_category_name, product_category_name_english
        ) VALUES (%s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 2
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['product_category_name', 'product_category_name_english']
í…Œì´ë¸” 'product_category_name_translation' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: customers ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO customers (
            customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state
        ) VALUES (%s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 5
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
í…Œì´ë¸” 'customers' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: sellers ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO sellers (
            seller_id, seller_zip_code_prefix, seller_city, seller_state
        ) VALUES (%s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 4
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']
í…Œì´ë¸” 'sellers' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: products ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO products (
            product_id, product_category_name, product_name_length, product_description_length, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 9
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['product_id', 'product_category_name', 'product_name_length', 'product_description_length', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
í…Œì´ë¸” 'products' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: orders ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO orders (
            order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 8
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
í…Œì´ë¸” 'orders' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: order_items ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO order_items (
            order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value
        ) VALUES (%s, %s, %s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 7
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']
í…Œì´ë¸” 'order_items' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: order_reviews ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO order_reviews (
            review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp
        ) VALUES (%s, %s, %s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 7
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']
í…Œì´ë¸” 'order_reviews' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.

--- í…Œì´ë¸”: order_payments ì ì¬ ì¤‘ ---
ìƒì„±ëœ SQL í…œí”Œë¦¿:

        INSERT INTO order_payments (
            order_id, payment_sequential, payment_type, payment_installments, payment_value
        ) VALUES (%s, %s, %s, %s, %s)

SQL í…œí”Œë¦¿ ì»¬ëŸ¼ ê°œìˆ˜: 5
SQL í…œí”Œë¦¿ ì»¬ëŸ¼: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']
í…Œì´ë¸” 'order_payments' ì ì¬ ì™„ë£Œ ë° ì»¤ë°‹.
MySQL ì—°ê²°ì´ ë‹«í˜”ìŠµë‹ˆë‹¤.

### ë°ì´í„° ì •í•©ì„± ê²€ì‚¬

In [4]:
# MariaDB 11.3.2 ë²„ì „ê³¼ í˜¸í™˜ë˜ëŠ” charsetê³¼ collationì„ ëª…ì‹œì ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
# connect_argsë¥¼ ì‚¬ìš©í•˜ì—¬ mysql.connectorì— ì§ì ‘ ì—°ê²° ì¸ìë¥¼ ì „ë‹¬í•©ë‹ˆë‹¤.
db_connection_str = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'
connect_args_dict = {
    'charset': 'utf8mb4',
    'collation': 'utf8mb4_general_ci' # MariaDB 11.3.2ì™€ í˜¸í™˜ë˜ëŠ” ì½œë ˆì´ì…˜
}

try:
    # SQLAlchemy ì—”ì§„ ìƒì„± ì‹œ connect_args ì „ë‹¬
    engine = create_engine(db_connection_str, connect_args=connect_args_dict)
    print("SQLAlchemy ì—”ì§„ì´ ì„±ê³µì ìœ¼ë¡œ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤.")

    # SQL ì¿¼ë¦¬ ë¦¬ìŠ¤íŠ¸ 
    queries = {
        "orders_not_in_customers": """
            SELECT DISTINCT o.customer_id
            FROM orders o
            LEFT JOIN customers c ON o.customer_id = c.customer_id
            WHERE c.customer_id IS NULL;
        """,
        "products_not_in_translation": """
            SELECT DISTINCT p.product_category_name
            FROM products p
            LEFT JOIN product_category_name_translation pcnt
            ON p.product_category_name = pcnt.product_category_name
            WHERE pcnt.product_category_name IS NULL AND p.product_category_name IS NOT NULL;
        """,
        "order_items_product_mismatch": """
            SELECT DISTINCT oi.product_id
            FROM order_items oi
            LEFT JOIN products p ON oi.product_id = p.product_id
            WHERE p.product_id IS NULL;
        """,
        "order_items_seller_mismatch": """
            SELECT DISTINCT oi.seller_id
            FROM order_items oi
            LEFT JOIN sellers s ON oi.seller_id = s.seller_id
            WHERE s.seller_id IS NULL;
        """,
        "customers_zipcode_not_in_geo": """
            SELECT DISTINCT cust.customer_zip_code_prefix
            FROM customers cust
            LEFT JOIN geolocation geo ON cust.customer_zip_code_prefix = geo.geolocation_zip_code_prefix
            WHERE geo.geolocation_zip_code_prefix IS NULL AND cust.customer_zip_code_prefix IS NOT NULL;
        """,
        "sellers_zipcode_not_in_geo": """
            SELECT DISTINCT s.seller_zip_code_prefix
            FROM sellers s
            LEFT JOIN geolocation geo ON s.seller_zip_code_prefix = geo.geolocation_zip_code_prefix
            WHERE geo.geolocation_zip_code_prefix IS NULL AND s.seller_zip_code_prefix IS NOT NULL;
        """
    }

    # ê° ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²°ê³¼ ì €ì¥
    results = {}
    for name, query in queries.items():
        print(f"\nğŸ” [{name}] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...")
        df = pd.read_sql(query, engine)
        results[name] = df
        print(f"[{name}] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: {len(df)}")
        
        if not df.empty:
            print("ì²« 5ê°œ í–‰:")
            print(df.head())
        else:
            print("ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).")


except Exception as e:
    print(f"\në°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ë˜ëŠ” ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘ ì˜¤ë¥˜ ë°œìƒ: {e}")

finally:
    if 'engine' in locals():
        engine.dispose()
        print("SQLAlchemy ì—”ì§„ì˜ ëª¨ë“  ì—°ê²°ì´ í•´ì œë˜ì—ˆìŠµë‹ˆë‹¤.")

SQLAlchemy ì—”ì§„ì´ ì„±ê³µì ìœ¼ë¡œ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤.

ğŸ” [orders_not_in_customers] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...
[orders_not_in_customers] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: 0
ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).

ğŸ” [products_not_in_translation] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...
[products_not_in_translation] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: 0
ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).

ğŸ” [order_items_product_mismatch] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...
[order_items_product_mismatch] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: 0
ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).

ğŸ” [order_items_seller_mismatch] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...
[order_items_seller_mismatch] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: 0
ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).

ğŸ” [customers_zipcode_not_in_geo] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...
[customers_zipcode_not_in_geo] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: 0
ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).

ğŸ” [sellers_zipcode_not_in_geo] ì¿¼ë¦¬ ì‹¤í–‰ ì¤‘...
[sellers_zipcode_not_in_geo] ê²°ê³¼ ë¯¸ì¡´ì¬ ìˆ˜: 0
ê²°ê³¼ ì—†ìŒ (ë¯¸ì¡´ì¬ ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤).
SQLAlchemy ì—”ì§„ì˜ ëª¨ë“  ì—°ê²°ì´ í•´ì œë˜ì—ˆìŠµë‹ˆë‹¤.